{% load static %}
<article class="bg-white rounded-lg border border-gray-200 hover:shadow-lg transition-shadow duration-300 overflow-hidden"> 
  <!--Thumbnail-->
  <div class="aspect-[16/9] p-4  justify-between bg-[#1a1a1a] rounded-[7px] "> 
    <div class="aspect-[1/1] relative video relative  rounded-md mb-3">
      {% if product.thumbnail %}
        <img src="{{ product.thumbnail }}" alt="{{ product.name }}" class="w-full h-full object-cover">
      {% else %}
        <div class="w-full h-full bg-gray-600"></div>
      {% endif %}
        
      <!-- Category Badge -->
      <div class="absolute top-3 left-3">
        <span class="inline-flex items-center px-2 py-0.5 rounded-full text-xs font-medium bg-green-500 text-white">
          {{ product.get_category_display }}
        </span>
      </div>

      <!-- Status Badges -->
      <div class="absolute top-3 right-3 flex space-x-2">
        {% if product.is_featured %}
          <span class="inline-flex items-center px-2 py-1 rounded text-xs font-medium bg-yellow-100 text-yellow-800">
            Featured
          </span>
        {% endif %}
      </div>
    </div>

    <!-- Content -->
    <div class="mb-2">
      <time datetime="{{ product.created_at|date:'c' }}" class="text-xs text-gray-400 mb-3">
        {{ product.created_at|date:"M j, Y" }}
      </time>
      <span class="mx-2 text-gray-400">•</span>
      <span class="text-xs text-gray-400"> {{product.product_views}} views</span>
    </div>

    <h3 class="text-lg text-white font-bold mb-3 line-clamp-2 leading-tight">
      <a href="{% url 'main:show_product' product.id %}" class="hover:text-cyan-300 transition-colors">
        {{ product.name }} 
      </a>
    </h3>

    <p class="text-white text-sm leading-relaxed line-clamp-2 mb-4 flex-2">
      {{ product.description|truncatewords:20 }}
    </p>

    <!--Action Buttons-->
    {% if user.is_authenticated and product.user == user %}
      <div class="flex items-center justify-between pt-4 border-t border-gray-100">
        <a href="{% url 'main:show_product' product.id %}" class="text-[#40c9ff] hover:text-red-800 font-medium text-sm transition-colors">
          Read more
        </a>

        <div class="flex space-x-2">
        <a href="{% url 'main:edit_product' product.id %}" class="text-white hover:text-gray-700 text-sm transition-colors">
          Edit
        </a>

        <a href="{% url 'main:delete_product' product.id %}" class="text-red-600 hover:text-red-700 text-sm transition-colors">
          Delete
        </a>
      </div>
    {% else %}
      <div class="flex pt-4 border-t border-gray-100">
        <a href="{% url 'main:show_product' product.id %}" class="text-[#40c9ff] hover:text-red-800 font-medium text-sm transition-colors">
          Read more →
        </a>
      </div>
    {% endif %}
  </div>

</article>